
<div class="responsive">

  <table   class="chart-table">

      <thead>
       <tr>

           <th>Users</th>
           <th>Status</th>
           <th>Users</th>
           <th>Impression</th>
           <th>Conversion</th>
           <th></th>
          </tr>
        </thead>
        <tbody>
      <tr>
        <td>
              <div class="t-profile">
                <img src="./assets/img/person1.png" alt="">
                <span>Robert Johnstons</span>
                </div>
              </td>
          <td>
              <div class="status-Paused">Paused</div>
            </td>
            <td>
              <div class="data-info">
                <span>189</span>
                <p>Total users</p>
              </div>
            </td>
            <td>
              <div class="data-info">
                <span>324234</span>
                <p>Total impressions</p>
              </div>
            </td>
          <td>
            <div class="data-info">
                <span>3242</span>
                <p>Converted users </p>
              </div>
          </td>
          <td>
            <img class="dots" src="./assets/img/dots.svg" alt="">
          </td>
      </tr>
      <tr>
        <td>
          <div class="t-profile">
            <img src="./assets/img/person2.png" alt="">
            <span>Anna Atkinsone</span>
          </div>
        </td>
        <td>
            <div class="status-Active">Active</div>
          </td>
          <td>
            <div class="data-info">
              <span>189</span>
              <p>Total users</p>
            </div>
          </td>
          <td>
            <div class="data-info">
              <span>324234</span>
              <p>Total impressions</p>
            </div>
          </td>
          <td>
            <div class="data-info">
              <span>3242</span>
              <p>Converted users </p>
            </div>
          </td>
        <td>
          <img class="dots" src="./assets/img/dots.svg" alt="">
        </td>
    </tr>
    <tr>
      <td>
            <div class="t-profile">
              <img src="./assets/img/person3.png" alt="">
              <span>Mark Atkinsone</span>
            </div>
          </td>
          <td>
            <div class="status-Active">Active</div>
          </td>
          <td>
            <div class="data-info">
              <span>189</span>
                  <p>Total users</p>
                </div>
              </td>
              <td>
                <div class="data-info">
              <span>324234</span>
              <p>Total impressions</p>
        </div>
      </td>
        <td>
          <div class="data-info">
            <span>3242</span>
            <p>Converted users </p>
          </div>
        </td>
        <td>
          <img class="dots" src="./assets/img/dots.svg" alt="">
        </td>
      </tr>
  </tbody>

</table>

  
</div>